*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; //this defines what 1rem is, which is why its here instead of typography
    //default rem size is 16px.  we want 1 rem to be 10px so 10/16 = 62.5

    @include respond(tab-land) {
        font-size: 56.25%;  //9px
    }

    @include respond(tab-port) {
        font-size: 50%;  //8px
    }  

    @include respond(big-desktop) {
        font-size: 70%;  //12px
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }  
}