apiVersion: apps/v1
kind: Deployment
metadata:
  name: natours
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: natours
      app.kubernetes.io/instance: natours
  template:
    metadata:
      labels:
        app.kubernetes.io/name: natours
        app.kubernetes.io/instance: natours
    spec:
      containers:
        - name: natours
          image: "${{FD_PROJECT_DOCKER_IMAGE_NAME}}"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8099
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
